[submodule "tools/copyrightcons"]
	path = tools/copyrightcons
	url = https://github.com/ivilink/copyrightcons.git
[submodule "www"]
	path = www
	url = https://github.com/ivilink/ivilink.github.com.git
